@{
    ViewData["Title"] = "Hjem";
}
<h1>Velkommen</h1>

<p>Hvis du er på udkig efter dit livs rejse, er du kommet til det rigtige sted!</p>
<audio controls autoplay muted>
    <source src="~/audio/Airport.mp3" type="audio/mpeg">
    Din browser understøtter ikke audio elementet.
</audio>


